---
import { Image } from "astro:assets"
import ActionBanner from "@/components/ActionBanner.astro"
import Layout from "@/layouts/Layout.astro"
import Hero from "@/assets/lisbon.jpg"
import RunningNight from "@/assets/running-night.jpg"
import RunningDay from "@/assets/running-day.jpg"
import Melon from "@/assets/melon.jpg"
import Chow from "@/assets/chow.jpg"
import Cat from "@/assets/cat.png"
import Fam from "@/assets/fam.jpg"
import {
  Cake,
  Ruler,
  MapPin,
  House,
  Baby,
  Landmark,
  School,
  Briefcase,
} from "lucide-react"
import Chip from "@/components/Chip.astro"
import { Content as ValuesCopy } from "@/copy/values.md"
import { Content as LookingForCopy } from "@/copy/looking-for.md"
import { Content as WhyCopy } from "@/copy/why.md"
import { Content as IntroCopy } from "@/copy/intro.md"
import Prose from "@/components/Prose.astro"

export const prerender = true
---

<Layout>
  <main class="mx-auto max-w-xl pb-12 font-serif @2xs:pt-20">
    <header class="sticky top-0 z-0 overflow-hidden">
      <Image
        src={Hero}
        alt="Majestic man staring into the distance in Lisbon"
        priority={true}
        class="h-auto w-full"
      />
    </header>

    <Prose>
      <div class="relative z-10 bg-slate-50 pt-4">
        <div class="pt-8">
          <section class="flex flex-col gap-16 px-5">
            <section class="flex flex-col gap-8">
              <section>
                <IntroCopy />
              </section>

              <div class="grid grid-cols-2 gap-x-1 gap-y-1">
                <Chip Icon={Cake} alt="Age"> 26 </Chip>
                <Chip Icon={Ruler} alt="Height"> 5’ 8.75” </Chip>
                <Chip Icon={MapPin} alt="Location"> Brooklyn, NY </Chip>
                <Chip Icon={House} alt="Hometown"> Minneapolis, MN </Chip>
                <Chip Icon={Baby} alt="Wants children"> In 5+ years </Chip>
                <Chip Icon={Landmark} alt="Politics"> Liberal </Chip>
                <Chip Icon={School} alt="Education">
                  Northeastern University
                </Chip>
                <Chip Icon={Briefcase} alt="Work">
                  <span>
                    Founder at <a
                      href="https://gathers.social?utm_source=date_kincaid"
                      target="_blank"
                      rel="noopener">
                      Gathers
                    </a>
                  </span>
                </Chip>
              </div>
            </section>

            <section class="flex flex-col gap-4">
              <Image
                class="rounded-2xl"
                src={RunningDay}
                alt="Kincaid in motion"
              />

              <Image
                class="rounded-2xl"
                src={RunningNight}
                alt="Man (shredded), running in the night (run club in Boston)"
              />
            </section>

            <section>
              <ValuesCopy />
            </section>

            <section>
              <h3>Relationships</h3>

              <div class="not-prose flex w-full flex-row gap-4">
                <figure class="w-1/2">
                  <Image
                    src={Fam}
                    alt="Kincaid smiling with his sister and dad"
                    class="rounded-2xl"
                  />
                  <figcaption class="px-2 py-1 text-sm">The fam 🙂</figcaption>
                </figure>
                <figure class="m-0 w-1/2">
                  <Image
                    src={Chow}
                    alt="Kincaid supporting a friend"
                    class="rounded-2xl"
                  />
                </figure>
              </div>

              <Image
                src={Melon}
                alt="Kincaid raising a melon"
                class="rounded-2xl"
              />
            </section>

            <section>
              <LookingForCopy />
            </section>

            <div class="flex flex-col gap-4 pb-8">
              <Image src={Cat} alt="Kincaid in the wild" class="rounded-2xl" />

              <h1 class="!mt-0">Now, you must choose.</h1>
            </div>
          </section>

          <ActionBanner />
        </div>

        <section class="px-5 pt-64">
          <WhyCopy />
        </section>
      </div>
    </Prose>
  </main>
</Layout>
